@model List<AssetBalanceResponse>

@{
    ViewBag.Title = "My Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('My Wallet') });</script>
}

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">My Wallet</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a class="btn btn-link btn-float has-text" href="/wallet/history"><i class="icon-history text-primary"></i><span>Wallet History</span></a>
                <a class="btn btn-link btn-float has-text" href="/wallet/send"><i class="icon-arrow-right8 text-primary"></i><span>Send Asset</span></a>

                @{
                    int _pendingrequests = AppManager.GetAllPendingAssetsRequests();
                    int Respondedrequests = AppManager.GetAllRespondedAssestsRequests();

                    int _assetsrequestCount = _pendingrequests + Respondedrequests;
                }

                <a class="btn btn-link btn-float has-text" href="/wallet/requests">
                    <i class="icon-arrow-left8 text-primary"></i>
                    <span>
                        Request Asset
                        @{
                            if (_assetsrequestCount > 0)
                            {
                                <span class="badge bg-warning-400">@_assetsrequestCount</span>
                            }
                        }
                    </span>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="content">
    <div class="panel panel-flat">
        @{
            if (Model != null && Model.Any())
            {
                <table class="table data-table-local table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:100px;">Sl. No.</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Current Gold Price in GBP for 1 gm</th>
                            <th>Total Value in GBP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;

                            foreach (AssetBalanceResponse _asset in Model)
                            {
                                <tr>
                                    <td style="width:100px;">@i</td>
                                    <td>@_asset.Name</td>
                                    <td>@_asset.Qty</td>
                                    <td>@AppManager.CurrentGoldPricePerGram</td>
                                    <td>@((double)_asset.Qty * AppManager.CurrentGoldPricePerGram)</td>
                                </tr>

                                i++;
                            }
                        }

                    </tbody>

                </table>
                <span style="color: #39a3ff; display: block; font-size: 14px; margin: 10px 0 30px; text-align: center;">* Gold price is an average of 7 main gold bullions prices.</span>
                            }
                            else
                            {
                                <span style="display: block; margin: 100px 0; text-align: center;">Sorry, your wallet is empty. <a href="/wallet/request">Click here</a> to request more assets. </span>
                            }
        }

    </div>
</div>
