@model BlockChainWebApplication.Models.User

@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Users') });</script>
}

@section CSS{

}

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">User Details</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a class="btn btn-link btn-float has-text" href="/admin/users/edit/@Model.ID"><i class="icon-pencil7 text-primary"></i><span>Edit</span></a>
                <a class="btn btn-link btn-float has-text confirm mr5" title="Delete" data-confirm="Are you sure you want to delete this User?" href="/admin/users/delete/@Model.ID"><i class="icon-trash text-primary"></i><span>Delete</span></a>
            </div>
        </div>
    </div>
   
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main">
                                <table class="table table-borderless table-xs content-group-sm">
                                    <tbody>

                                        <tr>
                                            <td class="col-lg-2">@Html.DisplayNameFor(model => model.Name)</td>
                                            <td class="col-lg-1">:</td>
                                            <td> @Model.Name</td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">@Html.DisplayNameFor(model => model.Email)</td>
                                            <td class="col-lg-1">:</td>
                                            <td> @Model.Email</td>
                                        </tr>
                                       
                                        <tr>
                                            <td class="col-lg-2">@Html.DisplayNameFor(model => model.Address)</td>
                                            <td class="col-lg-1">:</td>
                                            <td> @(Html.Raw(Model.Address != null ? Model.Address.Replace("\r\n", "</br>") : ""))</td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">@Html.DisplayNameFor(model => model.Phone)</td>
                                            <td class="col-lg-1">:</td>
                                            <td> @Model.Phone</td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">@Html.DisplayNameFor(model => model.CreatedOn)</td>
                                            <td class="col-lg-1">:</td>
                                            <td> @Model.CreatedOn</td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">@Html.DisplayNameFor(model => model.LastUpdatedOn)</td>
                                            <td class="col-lg-1">:</td>
                                            <td> @Model.LastUpdatedOn</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>